@use "../../media" as *;
.chapter{
  &__topic{
    list-style: none;
    display: flex;
    &-id{
      font-family: Consolas;
      margin-right: 10px;
    }
    &.self--check{
      color: var(--color-text);
      background-color: var(--bg-color-secondary);
      padding: 10px;
      border-radius: 10px;
      margin-bottom: 10px;
      flex-direction: column;
    }
  }
  &__blocks{
    &:last-child{
      margin-bottom: 60px;
    }
  }
  &__block{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    @include tablet{
      grid-template-columns: repeat(2,1fr);
    }
    @include mobile{
      grid-template-columns: repeat(1,1fr);
    }
  }
}
.diff-icon{
  display: inline;
  margin-left: 6px;
  transform: translateY(6px);
}
.diff-title{
  display: inline;
}
.chapter-preview {
}